# Virtual environment
venv/

# Bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Environment files and secrets
.env
*.env

# Build/distribution
build/
dist/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data and output files
outputs/
outputs/*.npy
outputs/*.npz
outputs/*.png
outputs/*.jpg
outputs/*.jpeg
outputs/*.tif
outputs/*.bmp

# Temporary or log files
*.log
*.tmp
*.bak

# IDE and editor folders
.vscode/
.idea/
*.swp

# TouchDesigner project files (cache & autosave)
*.tox
*.toe~
*.toe.autosave
backup/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
